.animal-wrapper{
    width: 70%;
    display: flex;
    flex-direction: column;
    border: antiquewhite;
    margin: 10px;
    background-color: white;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top:0em;
    // z-index: 99998;
    animation: myAnim 1.5s ease 0s 1 normal forwards;
}

.animal-img{
    width:70%;
    margin: 10px 0;
}

.animal-p{
    margin: 5px;
}

.animal-conseil{
    margin:5px;
    font-weight: bold;
}

.animal-title{
	font-size: 2.3em;
	background-image: linear-gradient(90deg, rgba(59,221,82,1) 12%, rgba(85,203,227,1) 64%); 
	background-clip: border-box;
	background-clip: text;
	color: transparent;
	font-weight: bold;
	padding: 5px 0;
}

.animal-close{
    border:none;
    background-color: rgb(180, 168, 236);
    border-radius:8px;
    padding: 6px 10px;
    margin:5px;
    cursor: pointer;
}

.close-animal{
    display:none;
}
.canvas{
	width:0;
	z-index: 99999;
}
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}

@media screen and (max-width: 768px){
    .animal-wrapper{
        width:94%
      }
 
}   
