.animal-wrapper{
    width: 70%;
    display: flex;
    flex-direction: column;
    border: antiquewhite;
    margin: 10px;
    background-color: white;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top:5em;
    z-index: 99999;
    
}

.animal-img{
    width:80%;
    margin: 10px 0;
}

.animal-p{
    margin: 5px;
}

.animal-conseil{
    margin:5px;
    font-weight: bold;
}

@media screen and (max-width: 768px){
    .animal-wrapper{
        width:94%
      }
 
}   