.wrapper-quiz-comp{
    width:60%;
}

.quiz-comp-form{
    display: flex;
    margin:4px;
    background-color: #fff;
    padding:20px;
    border-radius: 17px;
}

.quiz-comp-title{
    font-size: 1.3em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.quiz-comp-answer{
    margin:5px;
}

.checkbox{
    padding: 0 4px 0 0;
}

.quiz-comp-form-p{
    padding-left:10px;
    font-size: 17px;
}

.quiz-comp-label-answer{
    display: flex;
    margin:3px;
}

.quiz-comp-submit{
    width:5em;
    margin-top: 10px;
}

.quiz-image{
    max-width: 30%;
    display: flex;
}

.quiz-questions-wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 4px;
}