.wrapper-loader{
    background-color: rgba(255, 255, 255, 0.766);
    border-radius: 10px;
    padding:5px;
    display: flex;
    max-width: 16em;
    margin:5px;
}

.big-wrapper-loader{
    display: flex;
    max-width: 18em;
    height: 1.3em;
    background-color: rgba(255, 255, 255, 0.766);
    margin: 5em 5px;
    padding: 37px 16px;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 10px;
}

.p-loader{
    font-size: 1em;
    text-align: center;
    padding-top: 3px;
    color:black;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(0px);
    }
}

.emoji {
    opacity: 1;
}

.emoji:nth-child(1) {
    animation: bounce 2s ease infinite;
    animation-delay: 0s; 
}

.emoji:nth-child(2) {
    animation: bounce 2s ease infinite;
    animation-delay: 0.5s; 
}

.emoji:nth-child(3) {
    animation: bounce 2s ease infinite;
    animation-delay: 1s;
}

.emoji:nth-child(4) {
    animation: bounce 2s ease infinite;
    animation-delay: 1.5s; 
}

.emoji:nth-child(5) {
    animation: bounce 2s ease infinite;
    animation-delay: 2s; 
}