@import '../style.scss';

.a-propos{
    background-color:$backgroundColor ;
    font-family: $mainFont;
    display: flex;
    flex-direction: column;
     background-size: cover;
    align-items:  center;      
    background: linear-gradient(to bottom, #133a63 0%, #2f6094 20%, #ebb2b1 100%);
    color: #fff;
}
.about-content{
    width:100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.about-title{
    margin: 5px 0;
    padding-top:10px;
}

.about-p{
    padding: 10px 0 10px 0;
 
}

.about-link{
    text-decoration: none;
    color: #ffa6bf;;
    font-weight: bold;

}

.about-image{
    width: 40%;
    margin: 0 0 0 2em;
}

.mini-wrapper-about{
    display: flex;
    flex-direction: column;
    width: 55%;
}

  @media screen and (max-width: 768px){

    .a-propos{
        width:100%;
    }

    .cloud-main, .cloud-center, .cloud-left{
        display: none;
    }

    .about-content{
        flex-direction: column;
        padding: 0;
    }

    .mini-wrapper-about{
        width:100%;
    }

    .about-p, .about-title{
        padding: 2px 5px;
    }
  }