.about-home-wrapper,
.about-home-row-wrapper,
.about-home-row-wrapper-images {
// 
	display: flex;
	justify-content: center;
}

.about-home-wrapper {
	flex-direction: column;
	align-items: center;
	padding: 1.5em;
	margin: 1em;
	border-radius: 3px;
	background: conic-gradient(
			from -45deg at calc(100% / 3) calc(100% / 3),
			#fbfbfb 90deg,
			#0000 0
		),
		conic-gradient(
			from -135deg at calc(100% / 3) calc(2 * 100% / 3),
			#fbfbfb 90deg,
			#ffffff 0 135deg,
			#0000 0
		),
		conic-gradient(
			from 135deg at calc(2 * 100% / 3) calc(2 * 100% / 3),
			#fbfbfb 90deg,
			#ffffff 0 135deg,
			#0000 0
		),
		conic-gradient(
			from 45deg at calc(2 * 100% / 3) calc(100% / 3),
			#fbfbfb 90deg,
			#ffffff 0 135deg,
			#0000 0,
			#fbfbfb 0 225deg,
			#ffffff 0
		);
	background-size: 154px 154px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	width: 77%;
}

.about-home-row-wrapper-images {
	display:flex;
}

.about-home-subwrapper {
	flex-direction: column;
	max-width: 50%;
	padding: 0 0 20px 0;
	align-items: center;
	display: flex;
}

.about-home-text {
	width: 76%;
	padding: 1em;
	text-align: justify;
	border-radius: 10px;
	margin: 1em 0;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
		rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

	&--mod1 {
		background-color: #f8da7e;
	}

	&--mod2 {
		background-color: #db87d0;
	}
	&--mod3 {
		background-color: #8cead4;
		width:84.5%;
	}
	&--mod4 {
		background-color: #a3baf1;
		width:84.5%;
	}
	&--mod5 {
		background-color: #eaf0ef;
		width:84.5%;
	}
}

.about-home-square-img{
	width:80%;
}

.about-home-3-img{
	width: 33%;
    max-width: 400px; 
    height: auto;
}

.about-home-title {
	margin: 1em 0;
	padding: 8px 0;
	color: #4a4f53;
	font-size: 2em;
	}

	.about-home-subtitle{
		margin: 1em;
		color: #4a4f53;
		font-size: 1.5em;
	}


@media screen and (max-width: 768px){

	.about-home-wrapper{
		width: 87%;
	}

	.about-home-row-wrapper{
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.about-home-subwrapper {
		flex-direction: column;
		max-width: 100%;
		padding: 0 0 20px 0;
		align-items: center;
		display: flex;
	}	

	.about-home-title {
		margin: 0;
		font-size: 1.4em;
	}

	.about-home-subtitle {
		margin: 0.2em 0;
		color: #4a4f53;
		font-size: 1.2em;
	  }
	
	.about-home-text {
		width: 93%;
   		font-size: 0.9em;
	}
	
	.about-home-square-img{
		width:100%;
	}

	.about-home-row-wrapper-images {
		width: 100%;
		display: flex;
		flex-direction: column;
	}	
	
	.about-home-3-img{
		width:100%;
		max-width: none;
	}
}	