@import '../style.scss';

.a-propos{
    background-color:$backgroundColor ;
    font-family: $mainFont;
    display: flex;
    flex-direction: column;
     background-size: cover;
    align-items:  center;      
    background: linear-gradient(to bottom, #82addb 0%,#ebb2b1 100%);
    color: #fff;
}
.about-content{
    width:100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.about-title{
    margin: 5px 0;
}

.about-p{
    padding: 10px 0 10px 0;
 
}

.about-link{
    text-decoration: none;
    color: #84fef8;
    font-weight: bold;
}

.about-image{
    width: 40%;
    margin: 0 0 0 2em;
}

.mini-wrapper-about{
    display: flex;
    flex-direction: column;
    width: 45%;
}