@import '../style.scss';

.a-propos{
    background-color:$backgroundColor ;
    font-family: $mainFont;
    display: flex;
    flex-direction: column;
     background-size: cover;
    align-items:  center;      
    background: linear-gradient(to bottom, #82addb 0%,#ebb2b1 100%);
    color: #fff;
}
.about-content{
    width:100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.about-title{
    margin: 5px 0;
    padding-top:10px;
}

.about-p{
    padding: 10px 0 10px 0;
 
}

.about-link{
    text-decoration: none;
    color: #2e1a78;
    font-weight: bold;

}

.about-image{
    width: 40%;
    margin: 0 0 0 2em;
}

.mini-wrapper-about{
    display: flex;
    flex-direction: column;
    width: 45%;
}

// cloud

.cloud-main {
    width: 13em;
    height: 4em;
    background: #ccc;
    border-radius: 100em;
    position: absolute;
    z-index: 100;
    top: 84px;
    box-shadow: 0 3px 5px rgba(255, 255, 255, 0.3);
    background: linear-gradient(#F2F2F2 70%, #E5E5E5);
    left: 7em;
  }
  
  .cloud-center {
    width: 6em;
    height: 6em;
    margin: 0 auto;
    background: #F2F2F2;
    position: absolute;
    border-radius: 100em;
    top: 2em;
    left: 12em;
  }
  
  .cloud-left {
    width: 88px;
    height: 90px;
    margin: 0 auto;
    background: #F2F2F2;
    position: absolute;
    border-radius: 100em;
    top: 41px;
    left: 9em;
  }
  

  @media screen and (max-width: 768px){
    .cloud-main, .cloud-center, .cloud-left{
        display: none;
    }

    .about-content{
        flex-direction: column;
        padding: 0;
    }

    .mini-wrapper-about{
        width:100%;
    }

    .about-p, .about-title{
        padding: 2px 5px;
    }
  }