.legal-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffc6c6;
}

.legal-title{
    font-size: 2.5em;
    margin: 5px;
}

.legal-text{
    margin: 1em 0 ;
    height: 53vh;
}

.legal-p{
    padding:4px;
}