// cloud

.cloud-main {
    width: 10em;
    height: 3.5em;
    background: #ccc;
    border-radius: 100em;
    position: absolute;
    z-index: 100;
    top: 80px;
    box-shadow: 0 3px 5px rgba(255, 255, 255, 0.3);
    background: linear-gradient(#F2F2F2 70%, #E5E5E5);
    left: 7em;
  }
  
  .cloud-center {
    width: 4em;
    height: 5em;
    margin: 0 auto;
    background: #F2F2F2;
    position: absolute;
    border-radius: 100em;
    top: 3em;
    left: 12em;
  }
  
  .cloud-left {
    width: 84px;
    height: 88px;
    margin: 0 auto;
    background: #F2F2F2;
    position: absolute;
    border-radius: 100em;
    top: 48px;
    left: 9em;
  }

  @media screen and (max-width: 768px){
    .cloud-main, .cloud-center, .cloud-left{
        display: none;
    }

  }