@import '../style.scss';

.travaux{
    width:100%;
    background-color: #83dcff;
    color:rgb(255, 255, 255);
    font-family: $mainFont ;
    height:4em;
    font-size: 3em;
    text-align: center;
    padding:2em 0;

}