.wrapper-post-envrac{
    display: flex;
    flex-direction: column;
    max-width: 25%;
    padding: 5px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

.title-post-envrac{
margin:2px 0;
}

.image-post-envrac{
    width:96%;
    pointer-events: none;
}

.content-post-envrac{
    width: 96%;
    margin:4px 0;
}

@media screen and (max-width: 768px){

    .wrapper-post-envrac{
        max-width: 95%;
        margin: 1em 1em;
    }
    .image-post-envrac{
        width: 100%;
    }
}
    