@import '../style.scss';


.en-vrac{
    display: flex;
    flex-direction: column;
     background-size: cover;
    align-items:  center;      
    font-family: $mainFont;
    padding:10px;
    background: url('../medias/peak_background.svg');

}
