
@import '../style.scss';

    .oh-wow{
        display: flex;
        flex-direction: column;
         background: url('../medias/test-skyy.jpg') ;
         background-size: cover;
        align-items:  center;
       // background: linear-gradient(90deg, rgb(79, 198, 255) 0%, rgba(0, 109, 251, 0.78) 100%);
    }
    .wow-imgs-container{
        display: flex;
        width: 90%;
        }
    .wow-container{
        margin:10px;
    }

    .wow-image{
        max-width: 100%;
        height: auto;
        transition: transform 0.7s;
        margin-top:10px;
    }    
    .wow-image:hover{
        transform: scale(1.1);
        margin-top:35px

    }

    .wow-presentation {
        font-family: 'Rocher Regular'; 
        color: #fdfdfd; 
        font-size: 2em;
        margin: 0.9em 0 2em 0;
    }

    .wow-title{
        font-family: "Montserrat" ;
        color: #fdfdfd;
        margin:5px 0 5px 0;
        font-size: 22px;
    }

@media screen and (max-width: 768px){

    .wow-imgs-container{
        display: flex;
        width: 90%;
        flex-direction: column;
        }
        .wow-image{
            max-width: 100%;
            height: auto;
        }    
}