
@import '../style.scss';

    .oh-wow{
        background-color:$backgroundColor ;
        font-family: $mainFont;
        display: flex;
        flex-direction: column;
         background-size: cover;
        align-items:  center;      
        background: linear-gradient(to bottom, #357ed2 0%,#1f5c9a 60%,#ce5d7d 100%);
        height:100%;
    }
    .wow-imgs-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        }
    .wow-container{
        margin:10px;
        width: calc(100%/4);
    }

    .wow-image{
        max-width: 100%;
        height: auto;
        transition: transform 0.7s;
        margin-top:10px;
        pointer-events: none;
    }    
    .wow-image:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    .wow-presentation {
        font-family: 'Rocher Regular'; 
        color: #fdfdfd; 
        font-size: 2em;
        margin: 0.9em 0 2em 0;
    }

    .wow-title{
        font-family: "Montserrat" ;
        color: #fdfdfd;
        margin:5px 0 5px 0;
        font-size: 25px;
        text-align: center;
    }

@media screen and (max-width: 768px){

    .wow-imgs-container{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        }
    .wow-container{
        width: 95%;
    }

    .wow-image{
        max-width: 100%;
        height: auto;
    }    

    .wow-presentation{
        font-size: 1.5em;
        text-align: center;
    }
        
}