.posts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3em 0;
        width: 75%;
        padding: 20px;
        background-color: #fff;
        border-radius:3px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}

.image_post{
    width:70%;
}
.image_post2{
    width:55%;
}

.title_post{
    margin:0.5em 0;
    background: #FFAFBD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    color: transparent;
    font-size: 2.4em;
}

.content_post{
    padding:10px;
    font-size: 0.8em;
}
.content{
    padding: 10px;
    display: flex;
    align-items: center;
    margin-left: 6em;
}

.content_p{
    padding: 10px;
    color: #2d2d2c;
    margin: 10px;
    border-radius: 9px;
    text-align: center;
    font-size: 0.9em;
}
.un{
    background:#f8da7e;
}

.deux{
    background: #fcbbec;
}

.trois{
    background:  #f488b0;
}

.legend{
    font-style: italic;
    font-size: 0.8em;
    padding: 4px 0;
}


#scroll-button-visible{
    display: inline-block;
    background-color: #FFF;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    position: fixed;
    bottom: 10px;
    font-size: 0.7em;
    border:none;
    box-shadow: 4px 6px 9px -7px hsla(0, 0%, 0%, 0.2);
    cursor:pointer;
  }

  #scroll-button- {

    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }

@media screen and (max-width: 768px){

 .post{
    width:80%
 }

}