.posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 5vh;
}

.post{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em 0;
        width: 78%;
        padding: 17px;
        border-radius:3px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        background:
        conic-gradient(from 150deg at 50% 33%,#0000,#FFFFFF .5deg 60deg,#0000 60.5deg) 
          calc(56px/2) calc(56px/1.4),
        conic-gradient(from -30deg at 50% 66%,#0000,#FFFFFF .5deg 60deg,#FBFBFB 60.5deg);
        background-size: 56px calc(56px/1.154);
        
    }   

    .wrapper-image-legend{
        display: flex;
        flex-direction: column;
    }
    .wrapper-image_post{
        display: flex;
        align-items: flex-start;
        margin: 0 0 0 1.2em;
        justify-content: center;
       }
        
    .image_post{
        width:90%;
        pointer-events: none;
    }

.title_post{
    margin:0.5em 0;
    background: #FFAFBD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    color: transparent;
    font-size: 2.4em;
}

.content_post{
    padding:10px;
    font-size: 0.8em;
}
.content{
    padding: 10px;
    display: flex;
    align-items: center;
    margin:1em 0;
}

.content_p{
    padding: 1em;
    color: #2d2d2c;
    margin: 10px;
    border-radius: 9px;
    font-size: 0.9em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.un, .deux, .trois{
    text-align: left;
}

.un{
    background:#f8da7e;
}

.deux{
    background: #fcbbec;
}

.trois{
    background:  #f488b0;
}

.legend{
    font-style: italic;
    font-size: 0.8em;
    padding: 4px 0;
}


@media screen and (max-width: 768px){

 .post{
    width: 90%;
    margin-top:0;
 }

 .title_post{
    font-size: 1.8em;
    text-align: center;
 }

 .content{
    flex-direction: column;
    margin: 0.6em 0;
}

.wrapper-image_post{
    display: flex;
     flex-direction: column;
     margin:3px;
     padding:1px;
   }
.legend{
    text-align: center;
}

.image_post{
    margin: 0;
    pointer-events: none;
    width:100%;
}

.image_post2{
    width:90%;
    pointer-events: none;
}

.un, .deux, .trois{
   width:100%;
}

 }
