$backgroundColor: #e0e7fa;
$textColor : #01263c;
$mainFont : 'Helvetica', 'sans-serif';

*{
    margin:0;
    padding:0;
    font-family:  'Helvetica', 'sans-serif';
}

.home {
    display: flex;
    flex-direction: column;
     background-size: cover;
    align-items:  center;      
    background-color: $backgroundColor;
    font-family: $mainFont;
    padding:0;
    background: linear-gradient(to top, #1a98b8 0%,#1fa1d5 40%, #c2dce6 100%);

}

.a-propos{
    background-color:$backgroundColor ;
    font-family: $mainFont;
}


@media screen and (max-width: 768px){
}