$backgroundColor: #e0e7fa;
$textColor : #01263c;
$mainFont : 'Helvetica', 'sans-serif';

*{
    margin:0;
    padding:0;
}

.home {
    display: flex;
    flex-direction: column;
     background-size: cover;
    align-items:  center;      
    background-color: $backgroundColor;
    font-family: $mainFont;
    padding:10px;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%); 

}

.en-vrac{
    display: flex;
    flex-direction: column;
     background-size: cover;
    align-items:  center;      
    font-family: $mainFont;
    padding:10px;
    background: url('./medias/peak_background.svg');


}

.a-propos{
    background-color:$backgroundColor ;
    font-family: $mainFont;
}

.oh-wow{
    background-color:$backgroundColor ;
    font-family: $mainFont;
}

.en-vrac{
    background-color:$backgroundColor ;
    font-family: $mainFont;
}





@media screen and (max-width: 768px){

    .title-blog{
        width: 90%;
    }
}