$backgroundColor: #e0e7fa;
$textColor : #01263c;
$mainFont : 'Helvetica', 'sans-serif';

*{
    margin:0;
    padding:0;
}

.home {
    display: flex;
    flex-direction: column;
     background-size: cover;
    align-items:  center;      
    background-color: $backgroundColor;
    font-family: $mainFont;
    padding:0;
    background-image: linear-gradient(to top,  #bfccfb  0%, #79c2e4 80%, #ace0f9 100%); 

}

.a-propos{
    background-color:$backgroundColor ;
    font-family: $mainFont;
}


@media screen and (max-width: 768px){
}