.error-wrapper{
    background-color: rgb(14, 111, 195);
    color:beige;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-p{
    margin:5px;
}

.error-img{
    width:50%;
    margin-top:8px;
}

.error-link{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}


@media screen and (max-width: 768px){
    .error-img{
        width:90%;
        margin-bottom: 2em;
    }

}