@import '../style.scss';

.footer{
  width: 100%;
  text-align: center;
  background-color: rgb(230, 158, 23);
  height:3.5em;
  background-image: linear-gradient(45deg, #E2BC2F 0%, #FF5ACD 100%);
  margin:1em 0 0 0;
  display: flex;
  justify-content: center;
}

.p-footer{
  padding: 15px 0;
  color:aliceblue;
  font-family:$mainFont ;
  margin-left:4px;
}

.link-footer{
  text-decoration: none;
  color:#FBDA61;
}


@media screen and (max-width: 768px){
.p-footer{
  padding: 10px 0;
  color: white;
  font-family: "Helvetica", "sans-serif";
  font-weight: bold;
  margin-left: 4px;
  font-size: 13px;
}

.footer{
  text-align: left;
  height: 3em;
  background-image: linear-gradient(45deg, #FD8200D6 0%, #FF5ACD 100%);
  margin: 0.5em 0 0 0;
}

}