@import '../style.scss';

.actvites-wrapper{
    display: flex;
    flex-direction: column;
     background-size: cover;
     align-items:  center;      
     height:100%;
     background-color: rgb(217, 210, 249);
}

.activites-link{
        color:#1f2683;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.3em;
        font-family:$mainFont ;
        box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
        transition:all .5s ease;
        border-radius:10px;
        padding:5px;
}